
@{
    ViewBag.Title = "CalendarSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="calendarController as vm" ng-init="InitHoliday()">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Calendar Schedule</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table id="calendarTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width:100px;">
                                <button class="btn btn-success btn-xs" data-target="#eventModal" data-toggle="modal"
                                        ng-show="main.CurrentUser.Type == 'ADM' || main.CurrentUser.Type == 'HR'">New Event</button>
                            </th>
                            <th>Date</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr ng-repeat="holiday in vm.Holiday | filter: { Status: '!X'}">
                            <td>
                                <button class="btn btn-primary btn-xs" data-target="#eventModal" data-toggle="modal"
                                        ng-click="AssignModel(holiday)"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-xs" data-target="#deleteEvent" data-toggle="modal"
                                        ng-click="AssignModel(holiday)"><i class="fa fa-trash"></i></button>
                            </td>
                            <td>{{holiday.ShowDate}}</td>
                            <td>{{holiday.title}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Event Modal-->
    <div class="modal fade" id="eventModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Calendar Event</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="vm.Modal.title" />
                    </div>

                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" class="form-control" ng-model="vm.Modal.start" />
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        <input type="date" class="form-control" ng-model="vm.Modal.end" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="SaveHoliday(vm.Modal)">Save</button>
                        <button class="btn btn-default" data-dismiss="modal" ng-click="ClearModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Event Modal-->

    <!--Delete Modal-->
    <div class="modal fade" id="deleteEvent" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to delete this event?</h4>
                </div>

                <div class="modal-body">
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="DeleteEvent()">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!--/Delete Modal-->
</div>