
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="calendarController as vm" ng-init="Init()">
    <h3>Calendar</h3>

    <div class="clearfix"></div>

    <div id="calendar"></div>
</div>
