
@{
    ViewBag.Title = "FileForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="leaveFormController as vm">
    <h3>Leave Form</h3>

    <div class="x_content">
        <div class="form-group">
            <label>Leave Type</label>
        </div>
    </div>
</div>