
@{
    ViewBag.Title = "FiledForms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="leaveFormController as vm" ng-init="InitFiledForms()">

    <div class="col-md-12">
        <div class="x_panel" style="width:300px;" ng-show="main.CurrentUser.Type == 'USR'">
            <div class="x_title">
                <h2>Leave Credits</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Vacation</td>
                            <td>{{main.CurrentUser.VacationLeaveCount}}</td>
                        </tr>

                        <tr>
                            <td>Sick</td>
                            <td>{{main.CurrentUser.SickLeaveCount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="x_panel" ng-show="main.CurrentUser.Type == 'USR'">
            <div class="x_title">
                <h2>Filed Leave</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table id="filedLeave" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width:100px;"></th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Remarks</th>
                            <th >Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="leave in vm.FiledLeave | filter: { Status: '!X'}">
                            <td><button class="btn btn-danger" data-target="#deleteLeaveModal"
                                        data-toggle="modal" ng-click="LeaveToDelete(leave)" ng-show="leave.Status != 'D'">Cancel</button>
                            </td>
                            <td>{{leave.ShowCreatedDate}}</td>
                            <td>{{leave.ShowType}}</td>
                            <td>{{leave.Reason}}</td>
                            <td>{{leave.ShowStatus}} {{leave.DeclineReason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="x_panel" ng-show="main.CurrentUser.Type != 'USR'">
            <div class="x_title">
                <h2>For Approval</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table id="forApproval" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Employee</th>
                            <th>Reason</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="leave in vm.FiledLeave | filter: { Status: 'P'}">
                            <td>{{leave.ShowCreatedDate}}</td>
                            <td>{{leave.ShowType}}</td>
                            <td>{{leave.ShowCreatedBy}}</td>
                            <td>{{leave.Reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="x_panel" ng-show="main.CurrentUser.Type != 'USR'">
            <div class="x_title">
                <h2>Approved Leave</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table id="approvedTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Employee</th>
                            <th>Reason</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="leave in vm.FiledLeave | filter: { Status: 'A'}">
                            <td>{{leave.ShowCreatedDate}}</td>
                            <td>{{leave.ShowType}}</td>
                            <td>{{leave.ShowCreatedBy}}</td>
                            <td>{{leave.Reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>Declined Leave</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table id="declinedLeave" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Employee</th>
                            <th>Declined Reason</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="leave in vm.FiledLeave | filter: { Status: 'D'}">
                            <td>{{leave.ShowCreatedDate}}</td>
                            <td>{{leave.ShowType}}</td>
                            <td>{{leave.ShowCreatedBy}}</td>
                            <td>{{leave.DeclinedReason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="x_panel" ng-show="main.CurrentUser.Type == 'USR'">
            <div class="x_title">
                <h2>Filed Overtime</h2>
                @*<div class="pull-right">
                    <button class="btn btn-default" data-toggle="tooltip" data-target="#panelBody" title="Toggle Table Filter" data-container="body">
                        <i class="glyphicon glyphicon-filter"></i>
                    </button>
                </div>*@
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div id="panelBody" style="display:none">
                    <input type="text" class="form-control" id="filedOvertimeFilter" data-acton="filter" data-filter="#filedOvertime"
                           placeholder="filed overtime" />
                </div>
                <table id="filedOvertime" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width:100px;"></th>
                            <th style="width:100px;">Date</th>
                            <th style="width:150px;">Time</th>
                            <th>Particulars</th>
                            <th style="width:150px;">Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="ot in vm.FiledOvertime | filter: { Status: '!X'}">
                            <td><button class="btn btn-danger" data-target="#deleteOvertimeModal"
                                        data-toggle="modal" ng-click="OvertimeToDelete(ot)">Cancel</button></td>
                            <td>{{ot.ShowEffectiveDate}}</td>
                            <td>{{ot.ShowStartTime}} - {{ot.ShowEndTime}}</td>
                            <td>{{ot.Reason}}</td>
                            <td>{{ot.ShowStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteLeaveModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to cancel your leave?</h4>
                </div>

                <div class="modal-body">
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="CancelLeave()">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOvertimeModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to cancel your overtime?</h4>
                </div>

                <div class="modal-body">
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="CancelOvertime()">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
