
@{
    ViewBag.Title = "FileForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="leaveFormController as vm">

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Leave Form</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Leave Type</label>
                        <select class="form-control select2_single" style="width:100%" ng-model="vm.Leave.Type"
                                ng-options="item.value as item.label for item in LeaveTypeDropdown"></select>
                    </div>

                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" class="form-control" ng-model="vm.Leave.StartDate" />
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        <input type="date" class="form-control" ng-model="vm.Leave.EndDate" />
                    </div>

                    <div class="form-group">
                        <label>Reason</label>
                        <textarea rows="5" class="form-control" ng-model="vm.Leave.Reason"></textarea>
                    </div>
                </div><!--/col-md-6-->

                <div class="col-md-6">.
                    <div class="form-group">
                        <span>
                            Leave Form is an application to be absent for the given date range.
                            Without this form you will be marked as Absent without Leave (AWOL)
                        </span>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="SaveLeave(vm.Leave)">Submit</button>
                        <button class="btn btn-default" ng-click="Clear(vm.Leave)">Clear</button>
                    </div>
                </div><!--/col-md-6-->

            </div><!--/x_content-->
        </div><!--/x_panel-->
    </div><!--/col-md-12-->

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Overtime Form</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Effective Date</label>
                        <input type="date" class="form-control" ng-model="vm.OT.EffectiveDate" />
                    </div>

                    <div class="form-group">
                        <label>Start Time</label>
                        <input type="text" class="form-control" ng-model="vm.OT.StartTime" />
                    </div>

                    <div class="form-group">
                        <label>End Time</label>
                        <input type="text" class="form-control" ng-model="vm.OT.EndTime" />
                    </div>

                    <div class="form-group">
                        <label>Particulars</label>
                        <textarea class="form-control" rows="5" ng-model="vm.OT.Reason"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                     <div class="form-group">
                        <span>Overtime Form is an application to work outside you standard working hours or shift. It Does not mean
                        that OT premium rates are automatically applied to the stated time range when the form is approved.</span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                        <button class="btn btn-default">Clear</button>
                    </div>
                </div>
            </div>
        </div><!--/x_panel-->
    </div><!--/col-md-12-->
</div>