@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SL/VL Online | Login</title>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/Content/css")

</head>

<body class="login" ng-controller="loginController as vm">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div growl class="fading"></div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="/Home/Login" class="form" method="post" data-toggle="validator">
                        <h1>SL/VL Online</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" ng-model="vm.Username" name="username" required="required" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" ng-model="vm.Password" name="password" required="required" />
                        </div>
                        <div>
                            <button class="btn btn-default" type="button" ng-click="TryLogin(vm.Username, vm.Password)">Log in</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <p>
                                    ©2017 All Rights Reserved. Casto Travel Philippines.
                                    version 1.5
                                </p>

                                <img style="height:70px; width:200px;" src="~/Src/Images/CastoPHLogo.jpg" />
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/angular")
</body>
</html>
