
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" ng-controller="groupApproverController as vm" ng-init="InitGroupApprover()">

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Group Approver</h2>
                
                <button type="button" class="btn btn-success alignright" data-target="#GroupModal" ng-click="ClearModal()"
                        data-toggle="modal">New Group</button>

                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <table id="GroupMemberTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="width:80px;"></th>
                            <th>Name</th>
                            <th>First Approver</th>
                            <th>Second Approver</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="grp in vm.Group | filter: {Status: '!X'}">
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="AssignModal(grp)" data-toggle="modal"
                                        data-target="#GroupModal">
                                    <i class="fa fa-pencil"></i>
                                </button>

                                <button type="button" class="btn btn-danger btn-xs" ng-click="AssignGroupToDelete(grp)" data-toggle="modal"
                                        data-target="#DeleteGroupModal"><i class="fa fa-trash"></i>
                                </button>
                            </td>
                            <td>{{grp.Name}}</td>
                            <td>{{grp.FirstApproverName}}</td>
                            <td>{{grp.SecondApproverName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--Add Group Modal-->
    <div class="modal fade" id="GroupModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Group Approver</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="vm.Modal.Name" />
                    </div>

                    <div class="form-group">
                        <label>First Approver</label>
                        <select class="select2_single form-control" ng-model="vm.Modal.FirstApprover" style="width:100%"
                                ng-options="item.ID as item.Name for item in vm.UserDropdown"></select>
                    </div>

                    <div class="form-group">
                        <label>Second Approver</label>
                        <select class="select2_single form-control" ng-model="vm.Modal.SecondApprover" style="width:100%"
                                ng-options="item.ID as item.Name for item in vm.UserDropdown"></select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="SaveGroup(vm.Modal)">Save</button>
                        <button class="btn btn-default" data-dismiss="modal" ng-click="GroupApproverModalClear()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Add Group Modal-->

    <!--Delete Group Modal-->
    <div class="modal fade" id="DeleteGroupModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to delete this group?</h4>
                </div>

                <div class="modal-body">
                    <button class="btn btn-danger" ng-click="DeleteGroup()">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!--/Delete Group Modal-->
</div> 